<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountSettingsActivity" android:noHistory = "true"></activity>
        <activity android:name=".AddCardActivity2" android:noHistory = "true"/>
        <activity android:name=".AddMoneyActivity" android:noHistory = "true"/>
        <activity android:name=".UserSettingsActivity" android:noHistory = "true"/>
        <activity android:name=".CardsActivity" android:noHistory = "true"/>
        <activity android:name=".MoneyTransferActivity" android:noHistory = "true"/>
        <activity android:name=".NewPaymentActivity" android:noHistory = "true"/>
        <activity android:name=".CurrentAccountActivity" android:noHistory = "true"/>
        <activity android:name=".AddAccountActivity" android:noHistory = "true"/>
        <activity android:name=".WelcomeScreenActivity"
            android:noHistory = "true"/>
        <activity android:name=".PinCodeActivity"
            android:noHistory = "true"/>
        <activity android:name=".AdminActivity" android:noHistory = "true"/>
        <activity android:name=".MainActivity"
            android:noHistory = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>